.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.board {
  display: grid;
  grid-template-columns: 125px 125px 125px;
  grid-template-rows: 125px 125px 125px;
}

.cell {
  background-color: antiquewhite;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:hover {
  background-color: rgb(243, 196, 134);
  cursor: pointer;
}
